<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Document</title>
    </head>
    <body>
        <h3>Add Document</h3>
        <form method="POST">
            <label>Документ</label><br>
            <input type="text" name="document" /><br><br>
            <label>Язык</label><br>
            <input type="text" name="language" /><br><br>
            <label>Статус</label><br>
            <input type="text" name="status" /><br><br>
            <input type="submit" value="Отправить" />
        </form>
    </bod